<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  <!-- Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

  
</head>
<body>

<div class="text-center mt-10">
  <h4 class="text-lg text-gray-700">あなたは {{ nickname }} </h4>
  <h1 class="text-4xl font-bold text-red-600 shadow-lg mb-8 pb-4">_オセロのオンライン対戦_</h1>
  <div class="mt-5 text-center">
    <div class="mb-8">
      <a href="{{ url_for('signup') }}" class="bg-blue-500 text-white py-3 px-6 rounded hover:bg-blue-700 transition duration-300 shadow-lg mb-2">Signup</a>
    </div>
    <div class="mb-8">
      <a href="{{ url_for('login') }}" class="bg-green-500 text-white py-3 px-6 rounded hover:bg-green-700 transition duration-300 shadow-lg mb-2">Login</a>
    </div>
    <div class="mb-8">
      <a href="{{ url_for('logout') }}" class="bg-red-500 text-white py-3 px-6 rounded hover:bg-red-700 transition duration-300 shadow-lg">Logout</a>
    </div>
  </div>
  <p class="mt-5 text-gray-600">このウェブサイトでは、オセロのオンライン対戦ができます。</p>


  {% if login_true_or_false %}
    <p class="red-text">{{ roomid_password_wrong_or_not }}</p>

    <div class="text-center mt-5">
      <p class="text-lg font-bold text-green-500 mb-4">部屋に入る</p>
      <form method="POST" class="inline-block">
        <label for="enter_room_id" class="block text-gray-700 text-sm font-bold mb-2">Room ID:</label>
        <input id="enter_room_id" name="enter_room_id" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2">
        <br>
        <label for="enter_room_password" class="block text-gray-700 text-sm font-bold mb-2">Room Password:</label>
        <input id="enter_room_password" name="enter_room_password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2">
        <input type="submit" value="Enter Room" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2">
      </form>
    </div>

    <div class="text-center mt-5">
      <p class="text-lg font-bold text-green-500 mb-4">新しい部屋を作る（Passwordあり）</p>
      <form method="POST" class="inline-block">
        <label for="new_room_name" class="block text-gray-700 text-sm font-bold mb-2">Room Name:</label>
        <input id="new_room_name" name="new_room_name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2">
        <br>
        <label for="new_room_password" class="block text-gray-700 text-sm font-bold mb-2">Room Password:</label>
        <input id="new_room_password" name="new_room_password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2">
        <br>
        <label for="new_room_password2" class="block text-gray-700 text-sm font-bold mb-2">Room Password(確認用):</label>
        <input id="new_room_password2" name="new_room_password2" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2">
        <input type="submit" value="New Room"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2">
      </form>
    </div>

    <div class="text-center mt-5">
      <p class="text-lg font-bold text-green-500 mb-4">新しい部屋を作る（Passwordなし。無差別対戦。）</p>
      <form method="POST" class="inline-block">
        <label for="new_room_name_without_pass" class="block text-gray-700 text-sm font-bold mb-2">Room Name:</label>
        <input id="new_room_name_without_pass" name="new_room_name_without_pass" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2">
        <input type="submit" value="New Room" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2">
      </form>
    </div>


    <div class="text-center mt-5">
      <h4 class="text-lg font-bold text-green-500 mb-4">無差別対戦</h4>
      {% for room, players, spectators in rooms_for_all_each_users %}
        <a href="{{ url_for('room', room_id=room['ID']) }}" class="block bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow hover:shadow-md transition duration-300 mb-4">
          <p class="text-lg">Room ID: {{ room['ID'] }}</p>
          <p class="text-sm text-gray-600">Room Name: {{ room['room_name'] }}</p>
          <p class="text-sm text-gray-600">Players: {{ players }}</p>
          <p class="text-sm text-gray-600">Spectators: {{ spectators }}</p>
        </a>
      {% endfor %}
    </div>

    <div class="text-center mt-5">
      <h4 class="text-lg font-bold text-green-500 mb-4">鍵あり部屋</h4>
      {% for room, players, spectators in rooms_each_users %}
        <a href="{{ url_for('room', room_id=room['ID']) }}" class="block bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow hover:shadow-md transition duration-300 mb-4">
          <p class="text-lg">Room ID: {{ room['ID'] }}</p>
          <p class="text-sm text-gray-600">Room Name: {{ room['room_name'] }}</p>
          <p class="text-sm text-gray-600">Players: {{ players }}</p>
          <p class="text-sm text-gray-600">Spectators: {{ spectators }}</p>
        </a>
      {% endfor %}
    </div>

  {% else %}
    <p>オセロのオンライン対戦を始めるにはログインをしてください。</p>
  {% endif %}
</div>

</body>


</html>
