<!DOCTYPE html>
<html>
<head>
    <title>Othello</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>

    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">


  </head>
<body>
<div class="mt-4 ml-8">
  <a href="{{ url_for('home') }}" class="text-blue-500 hover:text-blue-700 transition duration-300">Leave room</a>
</div>
<div class="flex flex-col items-center justify-center mt-2">
  <h4 class="text-lg text-gray-700 mt-4">あなたは {{ nickname }} </h4>
  <h1 class="text-3xl font-bold text-red-600 mb-3 shadow-md p-2">Room ID: <span id="room_id" class="text-red-700">{{ room_id }}</span></h1>
  <h1 class="text-3xl font-bold text-blue-600 mb-4 shadow-md p-2">Room Name: <span id="room_name" class="text-blue-700">{{ room_name }}</span></h1>
  <div class="flex flex-col items-center justify-center my-4">
    <h4>あなたは<span id="player_or_spectator"  class="text-green-500">観戦者</span>です</h4>
    <h4 id="current_turn" class="mt-2"></h4>
    <div id="spectator_button" class="mt-4">
      <button type="button" id="start_play" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">対戦する</button>
      <h4 id="players_already_decided" class="mt-2"></h4>
    </div>
    <h2 id="game_condition" class="text-red-500 text-xl mt-4"></h2>
  </div>
  <div class="flex flex-col items-center justify-center shadow-xl p-8">
    <h2 id="players_nickname" class="text-lg mt-4">??? vs ???</h2>
    <div id="board" class="mt-4">
      {% for i in range(8) %}
          {% for j in range(8) %}
          <div class="cell_border     w-10 h-10 border border-gray-300">
            <div class="cell" id="cell-{{i}}-{{j}}"></div>
          </div>
          {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="mt-4 mb-4">
    <h4>現在の対戦者は<span id="how_many_players" class="text-green-500">0</span>人です。2人になったら試合を開始します。（リアルタイムの対戦者ではないです）</h4>
    <h4>現在の観戦者は<span id="how_many_spectators" class="text-green-500">0</span>人です。（リアルタイムの観戦者ではないです）</h4>
  </div>
  <div id="players_condition" class="text-red-500 mb-8"></div>


  <input type="hidden" id="hidden_user_id" value="{{ user_id }}">

</div>

 
</body>
</html>
